torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
numpy==1.26.4
opencv-python==4.10.0.84
matplotlib==3.9.1
scipy==1.14.0
scikit-image==0.24.0
pandas==2.2.2
Pillow==10.3.0
pyyaml==6.0.1
easydict==1.13
json-tricks==3.17.3
pycocotools==2.0.8
tensorboard==2.6.0
tensorboardx==2.6.2.2
yacs==0.1.8
cython==3.0.10
dsntnn==0.5.3




